<html>
    <head>
        <title>Local New Tab Page</title>
        <style>
            table {
                font-family: sans-serif;
                border-collapse: collapse;
                width: 100%;
                table-layout: fixed;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                font-size: 150%;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
<body>

<h1>Links</h1>

<table>
  <tr>
    <td><a href="http://newsru.co.il">NEWSru.co.il</a></td>
    <td><a href="https://www.reddit.com/user/igorepst/m/vim/">R/Vim</a></td>
    <td><a href="https://github.com/igorepst">Github</a></td>
  </tr>
{{- if ne .pctype "home" }}
  <tr>
    <td><a href="https://30.30.0.151/vmanage-server/patch-governance/">Stakeholder</a></td>
    <td><a href="https://30.30.0.150/vmanage-server/patch-governance/">Bughunt</a></td>
    <td><a href="https://intigua.atlassian.net/secure/RapidBoard.jspa?rapidView=33&projectKey=CORE&quickFilter=249&assignee=5cbc4ea7bba9e20fca2733fd">Scrum Board</a></td>
    <td><a href="https://app.propertime.co.il/MonthlyTimesheet.aspx">ProperTime</a></td>
  </tr>
{{- end }}
</table>

</body>
</html>

